/*Sets default colors and fonts*/
html {
	height: auto;
	width: auto;
}

body {
	background-image: url("flowers.jpg");
	background-repeat: tile;
	background-color: #EE8EEE;
}
/*Sets Title location*/
#gamesTitle {
	color: #0055ff;
	text-align: center;
}
/*Sets Title color and size*/
#gamesTitle h1 {
	font-size: 4em;
	text-shadow: 2px 2px darkblue;
}
/*Sets subtitle color and size*/
#gamesTitle h3 {
	color: darkslateblue;
	font-size: 2em;
}

/*Background area for game link and title*/
#playGames {
	height: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 2em;
	/**/
}

/*Sets Wild Ride*/
.wildride {
	width: 25%;
	text-align: center;
	vertical-align: bottom;
	font-size: 125%;
	border: 1px solid black;
	margin: 4% 0 0 4%;
	padding: 2em 0 0;
	max-height: 9em;
	background: rgba(238, 130, 238, 0.6);
	position: relative;
	top: 0;
}
/*Sets Build a Story*/
.madlibs {
	width: 25%;
	position: absolute;
	font-size:125%;
	top: 0;
	text-align: center;
	vertical-align: bottom;
	border: 1px solid black;
	max-height: 9em;
	margin: 0 4% 0 37.5%;
	padding-top: 4%;
	background: rgba(238, 130, 238, 0.6);
}
/*Sets Guessing Game*/
.numbers {
	width: 25%;
	position: absolute;
	top: 0;
	font-size: 125%;
	right: 0;
	text-align: center;
	vertical-align: center;
	border: 1px solid black;
	max-height: 9em;
	margin: 0 4% 0 0;
	padding: 4% 0 0;
	background: rgba(238, 130, 238, 0.6);
}

input,
button {
	font-size: 2em;
	box-shadow: 4px 4px 2px;
	margin-bottom: 10%;
}
/*Allows for game image to animate*/
a img {
	margin-bottom: 0.5em;
}
a:link img {
	box-shadow: 8px 8px 4px;
}

a:hover img {
	box-shadow: 4px 4px 2px;
}



/*Copyright and Impressum*/
#footer a {
	/*display: inline-block;*/
	color: darkslategray;
	text-decoration: none;
}
/*Other Text*/
#footer {
	position: fixed;
	top: 90%;
	margin: 0;
	color: darkslategray
}

/*Impressum Stylesheet*/

#impressum {
	background-color: #EE8EEE;
	margin: 5% 0 0;
}

.impressum_title {
	font-size: 2em;
	background-color: darkblue;
	color: #EE8EEE;
	padding: .5em;
	margin: 0 5% 1em;
}

#impressum_main {
	background-color: #EE8EEE;
	display: inline-block;
	padding-top: 2em;
	height: 50%;
	width: 90%;
	margin: 1em 5% 1em;
	text-align: left;
}

.impressum_flowers {
	height: 200px;
	width: 200px;
	vertical-align: top;
	display: inline-block;
	margin: .5em 0 4% 10%;
	color: darkblue;
}

.impressum_flowers img {
	height: 75%;
	width: 75%;
}

.impressum_wildride {
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	height: 175px;
	width: 65%;
	color: darkslateblue;
}

.impressum_wildride img {
	float: left;
	height: 85%;
	padding: 10px 10px 0 0;
}

.impressum_madlibs {
	display: inline-block;
	margin-left: 10%;
	width: 50%;
	color: darkslateblue;
}

.impressum_rights {
	margin: 1em 0 0;
	padding: 1em 0 2%;
	color: bisque;
	background-color: darkblue;
	width: 110%;
}

.impressum_rights h3 {
	color: #aaa;
}

.impressum_rights p {
	margin-left: 5%;
	text-align: left;
	padding: 0 1em;
	color: #aaa;
}

#impressum .impressum_rights a{
	color: aquamarine;
}
