/*importing two Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=VT323|Press+Start+2P);
/*Sets default colors and fonts*/
html {
	height: auto;
	width: auto;
}

body {
	background-image: url("flowers.jpg");
	background-repeat: tile;
	background-color: #EE8EEE;
}
/*Sets Title location*/
#gamesTitle {
	color: #0055ff;
	text-align: center;
    font-family: 'Press Start 2P';
}

.banner {
    margin: 2em auto;
}
/*Sets Title color and size*/
#gamesTitle h1 {
	font-size: 3em;
	text-shadow: 2px 2px darkblue;
    padding: 1em auto;
}
/*Sets subtitle color and size*/
#gamesTitle h3 {
	color: darkslateblue;
	font-size: 3em;
    font-family: 'VT323';
    padding: 1.5em auto;
}

/*Background area for game link and title*/
#playGames {
	height: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 2em;

}

/*Sets Wild Ride*/
#wildride {
	text-align: center;
	vertical-align: bottom;
	font-size: 125%;
	/*background: rgba(238, 130, 238, 0.6);*/
}

input,
button {
	font-size: 2em;
	box-shadow: 4px 4px 2px;
	margin-bottom: 10%;
}
/*Allows for game image to animate*/
a img {
	margin-bottom: 0.5em;
}
a:link img {
	box-shadow: 8px 8px 4px;
}

a:hover img {
	box-shadow: 4px 4px 2px;
}



/*Copyright and Impressum*/
footer a {
	/*display: inline-block;*/
	color: darkslategray;
	text-decoration: none;
}
/*Other Text*/
footer  {
    font-family:  monospace;
	display: block;
	background-color: #006;
	bottom: 0;
	margin: 2em 0 0;
	padding: 1em 2em 1em;
	min-height: 2em;
	min-width: 100%;
	position: fixed;
    color: #ccf;
}

/*Impressum Stylesheet*/

#impressum {
	background-color: #EE8EEE;
	margin: 5% 0 0;
}

.impressum_title {
	font-size: 2em;
	background-color: darkblue;
	color: #EE8EEE;
	padding: .5em;
	margin: 0 5% 1em;
}

#impressum_main {
	background-color: #EE8EEE;
	display: inline-block;
	padding-top: 2em;
	height: 50%;
	width: 90%;
	margin: 1em 5% 1em;
	text-align: left;
}

.impressum_flowers {
	height: 200px;
	width: 200px;
	vertical-align: top;
	display: inline-block;
	margin: .5em 0 4% 10%;
	color: darkblue;
}

.impressum_flowers img {
	height: 75%;
	width: 75%;
}

.impressum_wildride {
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	height: 175px;
	width: 65%;
	color: darkslateblue;
}

.impressum_wildride img {
	float: left;
	height: 85%;
	padding: 10px 10px 0 0;
}

.impressum_madlibs {
	display: inline-block;
	margin-left: 10%;
	width: 50%;
	color: darkslateblue;
}

.impressum_rights {
	margin: 1em 0 0;
	padding: 1em 0 2%;
	color: bisque;
	background-color: darkblue;
	width: 110%;
}

.impressum_rights h3 {
	color: #aaa;
}

.impressum_rights p {
	margin-left: 5%;
	text-align: left;
	padding: 0 1em;
	color: #aaa;
}

#impressum .impressum_rights a{
	color: aquamarine;
}
