body {
    background-image: url("EijaIte-Wineberries-Dogwood-and-Tea-02.jpg");
	background-repeat: no-repeat;
	color: darkblue;
	font-size: 125%;
}
/*Index Page*/
.title {
	text-align: center;
	color: navy;
	font-size: 125%;
    padding-bottom: 2em;
}

.title h1 {
	font-size: 2em;
}

.action {
	background-color: darkblue;
	color: #ee8Eee;
	text-align: center;
	margin: 1em 25%;
	padding: 1em 0 2em;
}

.action button {
	font-size: 125%;
}

/*Story Builder*/

#storyBuilder {
	color: navy;
	margin: 1em 10% 0;
	padding: 0 0 1em;
	font-weight: bold;
}

#storyBuilder p {
	font-weight: normal;
	color: darkblue;
	font-size: 110%;
	margin: 1em 0 1em;
}

#storyBuilder .storyTitle input {
	vertical-align: top;
}

#footer {
	font-size: .75em;
}