body {
	background-image: url("flowers.jpg");
	background-repeat: tile;
	color: darkblue;
	font-size: 125%;
}
/*Index Page*/
.title {
	text-align: center;
	margin: 1em 35% 1em;
	padding: 1em 0;
	background-color: rgba(238, 130, 238, 1);
	font-size: 125%;
}

.title h1 {
	font-size: 2em;
}

.action {
	background-color: darkblue;
	color: #ee8Eee;
	text-align: center;
	margin: 1em 25%;
	padding: 1em 0 2em;
}

.action button {
	font-size: 125%;
}

/*Story Builder*/

#storyBuilder {
	border: 2px solid darkblue;
	background-color: rgba(102, 102, 255, 0.75);
	color: gold;
	margin: 1em 10% 0;
	padding: 0 0 1em;
	font-weight: bold;
}

#storyBuilder p {
	font-weight: normal;
	color: peachpuff;
	text-shadow: 0.1em 0.1em slateblue;
	font-size: 110%;
	margin: 1em 0 1em;
}

#storyBuilder .storyTitle input {
	vertical-align: top;
}

#footer {
	font-size: .75em;
}